.four.columns {
	position: relative;
	float: left;
	width: 25%;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	margin: 0;
}

@media only screen and (max-width: 767px) {
	.four.columns {
		position: relative;
		float: left;
		width: 100%;
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
		margin: 0;
	}
}


a {
	text-decoration: none;
}

.centered {
	margin: 0 auto;
	max-width: 1200px;
	padding: 0;
}


/* == Desktop-ish ============================================ */
@media only screen and (min-width: 960px) {
	/* line 214, ../../../../sass/framework/_framework.scss */
	.noDesktop {
		display: none;
	}
}
/* == Tablet-ish ============================================= */
@media only screen and (min-width: 768px) and (max-width: 991px) {
	/* line 221, ../../../../sass/framework/_framework.scss */
	.noTablet {
		display: none;
	}
}
/* == Mobile-ish ============================================= */
@media only screen and (max-width: 767px) {
	/* line 228, ../../../../sass/framework/_framework.scss */
	.noMobile {
		display: none;
	}
}

section, nav {
	margin: 0;
	overflow: auto;
	padding: 1em 1em;
	filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
	opacity: 1;
	-moz-transition: opacity 1s ease-out 0.1s;
	-o-transition: opacity 1s ease-out 0.1s;
	-webkit-transition: opacity 1s ease-out;
	-webkit-transition-delay: 0.1s;
	transition: opacity 1s ease-out 0.1s;
}

section.bg-black, nav.bg-black {
	background: #052D59;
	color: white;
}

section.bg-darkgray, nav.bg-darkgray {
	background: #052C56;
	color: white;
}
@media ( max-width : 1000px) {
	/* line 287, ../../../../sass/_LEV.scss */
	.bg-banner h1 {
		font-size: 2em;
	}
}

/* *****************

	Footer

***************** */
.footer {
	font-size: 1em;
	line-height: 2.1875em;
}
.footer a {
	color: white;
}
.footer a:hover, .footer a:active {
	color: #65c2ed;
}
.footer h3 {
	color: white;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1.125em;
	font-weight: 400;
	margin-bottom: 0;
}

.footer ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer ul li {
	margin: 0;
	padding: 0;
	list-style: none;
}
.footer .footer--callToAction {
	padding: 2em 1em;
	text-align: center;
}

.footer .footer--copyright p, .footer .footer--copyright .articleContent>ul,
	.footer .footer--copyright .articleContent>ol {
	font-family: Arial, Helvetica, sans-serif;
	font-size: .75em;
	text-align: center;
	margin: auto;
}
.footer .footer--copyright a {
	color: #5a5a5a;
}

@media ( max-width : 900px) { 
	.footer .footer--info .four.columns {
		width: 50%;
	}
	.footer .footer--info .four.columns:nth-child(2n+1) {
		clear: left;
	}
}
@media ( max-width : 650px) { 
	.footer .footer--info .four.columns {
		text-align: center;
		width: 100%;
	}
	.footer .footer--info .four.columns .footer--info--navigate {
		padding-right: .25em;
		text-align: right;
	}
	.footer .footer--info .four.columns .footer--info--navigate:last-child {
		padding-left: .25em;
		text-align: center;
	}
}
.footer .footer--info .footer--info--connect li {
	display: inline-block;
	line-height: 30px;
	margin-left: 6px;
	margin-right: 6px;
	margin-top: .25em;
}
.footer .footer--info .footer--info--connect li:first-child {
	margin-left: 0;
}
.footer .footer--info .footer--info--connect li:last-child {
	margin-right: 0;
}
.footer .footer--info .footer--info--connect li a {
	background: white;
	border-radius: 50%;
	display: inline-block;
	height: 35px;
	line-height: 45px;
	overflow: hidden;
	text-align: center;
	width: 35px;
	vertical-align: middle;
	-moz-transition: background 0.1s ease-out;
	-o-transition: background 0.1s ease-out;
	-webkit-transition: background 0.1s ease-out;
	transition: background 0.1s ease-out;
}
.footer .footer--info .footer--info--connect li a:hover { /*img {
	max-height:10px;
	max-width:10px;
}*/
	background: #65c2ed;
}
.footer .footer--info .footer--info--connect li a img {
	-moz-transition: all 0.25s;
	-o-transition: all 0.25s;
	-webkit-transition: all 0.25s;
	transition: all 0.25s;
	max-height: 20px;
	max-width: 20px;
	vertical-align: initial;
}
.footer .footer--info .footer--info--contact li {
	padding-left: 25px;
}
.footer .footer--info .footer--info--contact li:before {
	background-size: 20px 20px;
	content: "";
	display: inline-block;
	height: 20px;
	margin-left: -25px;
	width: 25px;
	vertical-align: middle;
}
.footer .footer--info .footer--info--contact li:first-child:before {
	background: url(../images/icon-mail.svg) left center no-repeat;
}
.footer .footer--info .footer--info--contact li:nth-child(2):before {
	background: url(../images/icon-phone.svg) left center no-repeat;
}
.footer .footer--info .footer--info--contact li:last-child:before {
	background: url(../images/icon-mapmarker.svg) left center no-repeat;
}

.footer .footer--map {
	min-height: 23em;
}
.footer .footer--map #map-canvas {
	height: 100%;
	margin: 0;
	min-height: 23em;
	padding: 0;
	width: 100%;
}
.footer .footer--map #map-canvas img {
	max-width: inherit;
}