

div.tab-content {
    border: 0px;
    padding: 15px;
    margin-bottom: 15px;
}

div.tab-content>div.active {
    display: block;
}

.background-form {
	background-color: #FFFFFF;
}

.form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 500px;
	padding: 30px;
	background: #FFFFFF;
	margin: 50px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);

}

.form-content {
	padding-left: 30px;
    padding-right: 30px;
}

.form-style-8 h2{
	background: #545759;
	text-transform: uppercase;
	font-family: 'Open Sans Condensed', sans-serif;
	color: #FFFFFF;
	font-size: 18px;
	font-weight: 100;
	padding: 20px;
	margin: -30px -30px 30px -30px;
}
.form-style-8 input[type="text"],
.form-style-8 input[type="date"],
.form-style-8 input[type="datetime"],
.form-style-8 input[type="email"],
.form-style-8 input[type="number"],
.form-style-8 input[type="search"],
.form-style-8 input[type="time"],
.form-style-8 input[type="url"],
.form-style-8 input[type="password"],
.form-style-8 textarea,
.form-style-8 select 
{
	box-sizing: border-box;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	outline: none;
	display: block;
	width: 100%;
	padding: 7px;
	border: none;
	border-bottom: 1px solid #ddd;
	background: transparent;
	margin-bottom: 10px;
	font: 16px Arial, Helvetica, sans-serif;
	height: 45px;
}
.form-style-8 textarea{
	resize:none;
	overflow: hidden;
}
.form-style-8 input[type="button"], 
.form-style-8 input[type="submit"]{
	-moz-box-shadow: inset 0px 1px 0px 0px #545759;
	-webkit-box-shadow: inset 0px 1px 0px 0px #545759;
	box-shadow: inset 0px 1px 0px 0px #545759;
	background-color: #545759;
	border: 1px solid #545759;
	display: inline-block;
	cursor: pointer;
	color: #FFFFFF;
	font-family: 'Open Sans Condensed', sans-serif;
	font-size: 14px;
	padding: 8px 18px;
	text-decoration: none;
	text-transform: uppercase;
	border-radius: 4px;
	width: 100%;
}
.form-style-8 input[type="button"]:hover, 
.form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #004876 5%, #004876 100%);
	background-color: #004876;
}

.form-style-8 input[type="text"]:focus, 
.form-style-8 input[type="password"]:focus {
	border-bottom: 1px solid #004876;
}

.form-style-button {
	width: 50%; 
	margin: 0 auto;
	padding-top: 25px;
}

.msg-error {
	color: red;
	display: none;	
	font-weight: bold;
	padding-top: 10px;
}

.msg-error.on {	
	display: block;	
}

.icon-pass {
	position: relative;
    float: right;
    top: -50px;
    width: 30px;
}

.login {
	color: #004876;
	font-weight: bold;
	text-transform: uppercase;
}

.logout {	
	display: none;	
}

.logout img {	
	width: 30px;
	height: 30px;
}

.logout.on {	
	display: block;		
	position: relative;
    float: right;
    top: 10px;   
}

.modal-loader {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba(84,87,89, .8 ) 
                url('../../resources/images/loading.gif') 
                50% 50% 
                no-repeat;
    background-size: 50px 50px;                    
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal-loader {
    overflow: hidden;   
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal-loader {
    display: block;
}

@media screen and (max-width: 600px) {
  .form-style-8{
	font-family: 'Open Sans Condensed', arial, sans;
	width: 250px;
	padding: 10px;
	background: #FFFFFF;
	margin: 20px auto;
	box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
	-webkit-box-shadow:  0px 0px 15px rgba(0, 0, 0, 0.22);
  }
  
 .form-style-8 h2{
	margin: -10px -10px 10px -10px;
 } 
 
  .form-style-button {
	width: 70%; 
	margin: 0 auto;
	padding-top: 20px;
  }
  
  .form-style-button.proyecto {
	width:90%; 
	margin: 0 auto;
	padding-top: 20px;
	margin-left: 0px;
  }
  
  .form-style-8 input[type="button"], 
  .form-style-8 input[type="submit"]{
	border-radius: 4px;
	width: 100%;
  }
  
  .form-style-8 input[type="button"]:hover, 
  .form-style-8 input[type="submit"]:hover {
	background:linear-gradient(to bottom, #004876 5%, #004876 100%);
	background-color: #004876;
  }
  
  .logout.on {	
	display: block;		
	position: relative;
    float: left;
    padding-left: 15px;  
    padding-bottom: 20px; 	
  }
  
}

input.form-control, select.form-control {
	display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
	border: none;
	border-bottom: 1px solid #ddd;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	border-radius: 0px;
}

input.form-control:focus, select.form-control:focus{
	border-bottom: 1px solid #004876;
	border-top: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;	
	border-radius: 0px;
}

option.placeholder-option {
	display: none;
}

option {
	color: black;
}

select.custom-color {
	color: #ccc;
	opacity: 1;
}

