.niveles {
	display:none;
}

.niveles .show {
	display:block;
}

.div-btns {
	padding-top: 20%;
    padding-left: 42%;
    padding-bottom: 5%;
}

.div-row {
	width: 300px;
    margin-left: 40% !important;
}

.nivel-font{	
	border-radius: 8px;
}

.nivel-font p{	
	text-align: center;
	vertical-align: middle;
	padding: 10px;
    margin: 0px;
}

.nivel-font.white{
	color: white;
	width: 250px;
}

.nivel-font.dark {
	color: black;
	width: 250px;
}

.confirm {
	padding-left: 26%;
}

.confirm-ok {
	left: 200px;
	position: absolute; 
	top: 60px;
}

.confirm-no {
	margin-left: 10%; 
	position: absolute;
	top: 60px;
	left: 280px;
}

.font-products {
	font-size: 10px !important;
	margin-bottom: 0px !important; 
}

.label-products {
	margin-bottom: 0px !important;
}

.sep-first-products {
    border-top: 1px solid white;
    margin-top: 0px;
}

.sep-products {
    border-top: 1px solid #ddd;
    margin-top: 12px;
}

.collapsed-products {
    margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .div-btns {
    width: 300px;
   	float: right;
   	padding-bottom: 5%;
   	padding-left:35%;
  }
  .div-row {
	margin-top: 50% !important;
	margin-left: 12% !important;
  }
  .confirm {
	padding-left: 4%;
  }
  .confirm-ok {
	left: 100px;
	position: absolute; 
	top: 60px;
  }
  .confirm-no {
	margin-left: 10%; 
	position: absolute;
	top: 60px;
	left: 150px;
  }
  .nivel-font p{	
	text-align: center;
  }
}